---
layout: default
title: Home
---

<div class="posts">
  {% for post in site.categories.blog %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    {% if post.images.menu %}
      <img class="post__menu-image" src="{{ site.baseurl }}/public/images/posts/{{ post.date | date: "%Y-%m-%d" }}-{{ post.images_path }}/{{ post.images.menu }}" alt="Image for {{ post.title }}">
    {% endif %}
    {{ post.summary }}
  </div>
  {% endfor %}
</div>
