---
layout: default
title: Projects
---
<div class="center mw800px pt4 pt5-ns">
  <!-- Most Recent Project  -->
  {% for project in site.categories.project %}
    {% if forloop.first == true %}
      <div class="bg-default" style="background-image: url('{{site.baseUrl}}/public/images/projects/{{project.title | downcase}}-bg.jpg')">
        <div class="purple-overlay pa3 pa4-ns" style="background: rgba({{project.overlayColor}})">
          <h1 class="f2 f1-ns f1-ns green ma0 mb3 fw5 mw7-ns">{{project.title}}</h1>
          <p class=" white f4-ns">{{project.summary}}</p>
          <div class="flex-between pt4">
            <div>
              <a class="white link--external mh1" href="{{project.repo}}">
                <i class="fa fa-github fa-lg mh1"></i>
                <span class="dn di-ns"> Github</span>
              </a>
              <a class="white link--external mh1" href="{{project.homepage}}">
                <i class="fa fa-laptop fa-lg mh1"></i>
                <span class="dn di-ns">Homepage</span>
              </a>
            </div>
            <p class="ma0 white">{{ project.date | date: "%B %Y" }} </p>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  <!-- Secondary Projects -->
  <div class="project-list">
    {% for project in site.categories.project offset: 1%}
    <div class="project-list__item">
      <div class="flex-col-between pa2 ba bw2 b--green">
        <div class="project-item-top">
          <h2 class="ma0 fw5 green">{{project.title}}</h2>
          <p>{{project.summary}}</p>
        </div>
        <div class="flex-between mt4">
          <div>
            <a class="link--external" href="{{project.repo}}">
              <i class="fa fa-github mh1 fa-lg "></i>
            </a>
            <a class="link--external" href="{{project.homepage}}">
              <i class="fa fa-laptop mh1 fa-lg"></i>
            </a>
          </div>
          <p class="ma0 purple">{{ project.date | date: "%B %Y" }} </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
