---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "variables";
@import "utilities";
@import "typography";
@import "animation";
@import "sidebar";


.project__button {
  padding: .5rem;
  border-radius: 5px;
  border: solid 1px $skyblue;
  background: $white;
  &:hover {
    text-decoration: none;
    background: $skyblue--light;
    transition: all .2s linear;
  }
}
