/* Typgoraphy */

a {
  color: #9ddfe5;
}

.masthead-title a {
  color: #9ddfe5;
}

/* Blur content when sidebar opens */
.content-blur {
  -webkit-filter: opacity(10%);
  transition: all .25s ease-in-out;
}

.wrap {
  transition: all .25s ease-in-out;
}


/* Navigation */
.sidebar-toggle {
  border-radius: 0;
}

/* Sidebar */
.sidebar {
  color: #224f54;
  background-image: url('../images/wave.png');
  /*left: 0rem;
  visibility: visible;
  z-index: 1;
  -webkit-transition: none;
          transition: none;*/
}

.sidebar-background {
  background:  linear-gradient(135deg, rgba(138,222,231,0.80) 0%, rgba(138,230,215,0.84) 100%);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  color: #fff;
}

.sidebar-nav-item {
  border-top: none;
}

/* Sidebar Image */

.sidebar-image {
  -webkit-filter: opacity(90%);
  max-height: 100px;
  border-radius: 50%;
}

/* Sidebar footer area */

.sidebar-item--footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.social-links svg {
  fill: #224f54;
  margin: 0 6px 4px 6px;
  max-width: 24px;
  transition: all .15s linear;
}

.social-links svg:hover {
  fill: #122b2d;
  transition: all .15s linear;
}

.social-links svg:first-child {
  margin-left: 0;
}

/* Posts */

/*.post__menu-image {
  max-width: 640px;
}*/

.post__summary {
}

.gist__link {

}

.md-figure {
  margin: 3em 1em;
}

.md-img {
  margin-bottom: 4px;
}

.md-img__caption {
  font-size: .85rem;
  font-style: italic;
  text-align: center;
}

.cv-notification {
  display: block;
  text-align: center;
  margin: 0 auto;
  border-radius: 3px;
}

/* Projects */

.project__button {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  padding: .5rem;
  border-radius: 5px;
  border: solid 1px #9ddfe5;
  background: white;
  transition: all .2s linear;
}



.project__button:hover {
  text-decoration: none;
  background: #EFFEFF;
  transition: all .2s linear;
}


.flex {
  display: flex;
  justify-content: space-around;
}
