---
# Only the main Sass file needs front matter (the dashes are enough)
---

* { box-sizing: border-box; }

@import "variables";
@import "code";
@import "animations";
@import "state";
@import "media";
@import "labels";



h1, h2, h3, h4, h5, h6, p, li, span, i, small {
  font-family: 'Rubik';
  color: $black;
}

code, pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
  span {
    font-family: Menlo, Monaco, "Courier New", monospace;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  //justify-content: space-between;
  flex-direction: column;
}

.container {
  flex: 1;
  padding: 0 1em;
}

// Atoms
@import "blocks";
@import "logo";

// Partials
@import "header";
@import "footer";


// Pages
@import "post";
@import "bloglist";

.intro { max-width: 600px; }

.green { color: $green; }
.purple { color: $purple; }
.purple-overlay {
  background: rgba(104,86,255,0.70);}

.b--green { border-color: $green; }
