<footer class="mt4 tc">

  <div>
    <a class="footer-link link--external" href="mailto:mail@jamesgraham.io">
      <i class="fa fa-md fa-envelope-o"></i>
    </a>
    <a class="footer-link link--external" href="https://github.com/jamesgraham10">
      <i class="fa fa-md fa-github"></i>
    </a>
    <a class="footer-link link--external" href="https://codepen.io/jamesgraham10">
      <i class="fa fa-md fa-codepen"></i>
    </a>
    <a class="footer-link link--external" href="http://stackoverflow.com/users/story/5867209">
      <i class="fa fa-stack-overflow fa-md"></i>
    </a>
  </div>

  <small class="smallprint">&copy; 2016. All Rights Reserved</small>

</footer>
