<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-background">
    <div class="sidebar-item">
      <a href="{{site.baseurl }}/" title="Home"><img class="sidebar-image" src="{{ site.baseurl }}/public/images/logo.png" alt="Site Logo"></a>
      <p>{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/">Blog</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/projects">Projects</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/writing">Other Writing</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/cv">CV</a>
    </nav>

    <div class="sidebar-item sidebar-item--footer">
      <div class="social-links">
       <a href="https://github.com/jamesgraham10" title="Github">{% include social-svg/github.svg %}</a>
       <a href="https://codepen.io/jamesgraham10" title="Codepen">{% include social-svg/codepen.svg %}</a>
       <a href="https://twitter.com/jgraham101" title="Twitter">{% include social-svg/twitter.svg %}</a>
       <a href="http://stackoverflow.com/users/5867209/james-graham" title="Stack Overflow">{% include social-svg/stackoverflow.svg %}</a>
      </div>
      <p>
        &copy; {{ site.time | date: '%Y' }}. Hello world.
      </p>
    </div>

  </div>

</div>
