.post-header {
  width: 100vw;
  margin-left: -1em;
  margin-bottom: 4em;
  height: 300px;
  background: {
    size: cover;
    repeat: no-repeat;
    position: center center;
  }
  &__overlay {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.post-content {
  max-width: 600px;
  margin: 0 auto 4em auto;
  line-height: 1.6;
  font-size: 1rem;
  p {
    font-size: 1.15rem;
  }
}

ul li {
  list-style: square;
}
