---
layout: default
---
<div class="profile-header flex-center">
  <img src="{{site.baseurl}}/public/images/me.png" alt="" class="about-image dn db-ns">
  <div class="flex-col-end tc">
    <h1 class="ma0 fw5">James Graham</h1>
    <p class="ma0 mb1 purple"><a href="{{ site.baseurl }}/public/media/james-graham-CV.pdf">view resume</a></p>
  </div>
</div>
<p class="pa2 tc">
  <a class="link--external mh2" href="https://github.com/jamesgraham10">
    <i class="fa fa-github"></i>
    <span class="dn di-ns">Github</span>
  </a>
  <a class="link--external mh2" href="https://codepen.io/jamesgraham10">
    <i class="fa fa-codepen"></i>
    <span class="dn di-ns">Codepen</span>
  </a>
  <a class="link--external mh2" href="http://stackoverflow.com/users/story/5867209">
    <i class="fa fa-stack-overflow"></i>
    <span class="dn di-ns">Stack Overflow</span>
  </a>
</p>
<div class="contain-copy center">
  {{ content }}
</div>
